@model IEnumerable<TimiTS.Models.ViewModels.WorkListViewModel>

@{
    ViewData["Title"] = "Timelister";
}

<div class="text-center">
    <h2>Timelister</h2>
</div>

<table class="table table-striped table-bordered" id="WorkEditTable">
    <thead>
        <tr>
            <th style="display:none">
                id
            </th>
            <th>
                Måned
            </th>
            <th>
                Timer
            </th>
            <th>
                Handling
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.WPId)
                </td>
                <td>
                    @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.DateInt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalHours)
                </td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="MonthlyWorkLog" asp-route-id="@item.DateInt">Detalj</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#WorkEditTable').DataTable();
        });
    </script>
}