
@{
    ViewData["Title"] = "Guide";
}

<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
    <style>
        /* Font Definitions */
        font-face {
            font-family: "Cambria Math";
            panose-1: 2 4 5 3 5 4 6 3 2 4;
        }

        font-face {
            font-family: Calibri;
            panose-1: 2 15 5 2 2 2 4 3 2 4;
        }

        font-face {
            font-family: "Calibri Light";
            panose-1: 2 15 3 2 2 2 4 3 2 4;
        }
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 10.0pt;
            margin-left: 0cm;
            line-height: 115%;
            font-size: 10.0pt;
            font-family: "Calibri",sans-serif;
            color: #323E4F;
        }

        h1 {
            mso-style-link: "Overskrift 1 Tegn";
            margin-top: 12.0pt;
            margin-right: 0cm;
            margin-bottom: 0cm;
            margin-left: 0cm;
            margin-bottom: .0001pt;
            line-height: 115%;
            page-break-after: avoid;
            font-size: 16.0pt;
            font-family: "Calibri Light",sans-serif;
            color: #2F5496;
            font-weight: normal;
        }

        h2 {
            mso-style-link: "Overskrift 2 Tegn";
            margin-top: 2.0pt;
            margin-right: 0cm;
            margin-bottom: 0cm;
            margin-left: 0cm;
            margin-bottom: .0001pt;
            line-height: 115%;
            page-break-after: avoid;
            font-size: 13.0pt;
            font-family: "Calibri Light",sans-serif;
            color: #2F5496;
            font-weight: normal;
        }

        p.MsoToc1, li.MsoToc1, div.MsoToc1 {
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 5.0pt;
            margin-left: 0cm;
            line-height: 115%;
            font-size: 10.0pt;
            font-family: "Calibri",sans-serif;
            color: #323E4F;
        }

        p.MsoToc2, li.MsoToc2, div.MsoToc2 {
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 5.0pt;
            margin-left: 10.0pt;
            line-height: 115%;
            font-size: 10.0pt;
            font-family: "Calibri",sans-serif;
            color: #323E4F;
        }

        p.MsoTitle, li.MsoTitle, div.MsoTitle {
            mso-style-link: "Tittel Tegn";
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 10.0pt;
            margin-left: 0cm;
            line-height: 115%;
            font-size: 24.0pt;
            font-family: "Calibri Light",sans-serif;
            font-variant: small-caps;
            color: #4472C4;
            letter-spacing: .5pt;
        }

        p.MsoSubtitle, li.MsoSubtitle, div.MsoSubtitle {
            mso-style-link: "Undertittel Tegn";
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 10.0pt;
            margin-left: 0cm;
            line-height: 115%;
            font-size: 12.0pt;
            font-family: "Calibri",sans-serif;
            color: #44546A;
            letter-spacing: .25pt;
            font-style: italic;
        }

        a:link, span.MsoHyperlink {
            color: #0563C1;
        }

        a:visited, span.MsoHyperlinkFollowed {
            color: #954F72;
            text-decoration: underline;
        }

        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 10.0pt;
            margin-left: 36.0pt;
            line-height: 115%;
            font-size: 10.0pt;
            font-family: "Calibri",sans-serif;
            color: #323E4F;
        }

        p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst {
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 0cm;
            margin-left: 36.0pt;
            margin-bottom: .0001pt;
            line-height: 115%;
            font-size: 10.0pt;
            font-family: "Calibri",sans-serif;
            color: #323E4F;
        }

        p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle {
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 0cm;
            margin-left: 36.0pt;
            margin-bottom: .0001pt;
            line-height: 115%;
            font-size: 10.0pt;
            font-family: "Calibri",sans-serif;
            color: #323E4F;
        }

        p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast {
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 10.0pt;
            margin-left: 36.0pt;
            line-height: 115%;
            font-size: 10.0pt;
            font-family: "Calibri",sans-serif;
            color: #323E4F;
        }

        p.MsoTocHeading, li.MsoTocHeading, div.MsoTocHeading {
            margin-top: 12.0pt;
            margin-right: 0cm;
            margin-bottom: 0cm;
            margin-left: 0cm;
            margin-bottom: .0001pt;
            line-height: 107%;
            page-break-after: avoid;
            font-size: 16.0pt;
            font-family: "Calibri Light",sans-serif;
            color: #2F5496;
        }

        span.Overskrift1Tegn {
            mso-style-name: "Overskrift 1 Tegn";
            mso-style-link: "Overskrift 1";
            font-family: "Calibri Light",sans-serif;
            color: #2F5496;
        }

        span.TittelTegn {
            mso-style-name: "Tittel Tegn";
            mso-style-link: Tittel;
            font-family: "Calibri Light",sans-serif;
            font-variant: small-caps;
            color: #4472C4;
            letter-spacing: .5pt;
        }

        span.UndertittelTegn {
            mso-style-name: "Undertittel Tegn";
            mso-style-link: Undertittel;
            color: #44546A;
            letter-spacing: .25pt;
            font-style: italic;
        }

        span.Overskrift2Tegn {
            mso-style-name: "Overskrift 2 Tegn";
            mso-style-link: "Overskrift 2";
            font-family: "Calibri Light",sans-serif;
            color: #2F5496;
        }

        .MsoPapDefault {
            margin-bottom: 8.0pt;
            line-height: 107%;
        }

        page WordSection1 {
            size: 595.3pt 841.9pt;
            margin: 70.85pt 70.85pt 70.85pt 70.85pt;
        }

        div.WordSection1 {
            page: WordSection1;
        }
        /* List Definitions */
        ol {
            margin-bottom: 0cm;
        }

        ul {
            margin-bottom: 0cm;
        }

        .image {
            height: auto;
            width: 250px;
        }

        #ToppBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
            background-color: #345578;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 10px;
        }

            #ToppBtn:hover {
                background-color: #666666
            }
    </style>

</head>

<body lang=NO-BOK link="#0563C1" vlink="#954F72"  class="text-center">

    <button onclick="topFunction()" id="ToppBtn" title="Gå til toppen">Til Toppen</button>

    <script>
        // When the user scrolls down 20px from the top of the page, the button shows
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("ToppBtn").style.display = "block";
            } else {
                document.getElementById("ToppBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <div class=WordSection1>

        <p class=MsoTocHeading>Innhold</p>

        <p class=MsoToc1>
            <span class=MsoHyperlink>
                <a href="#_Toc482527753">
                    Legg til
                    Timí på enhet<span style='color:#323E4F;display:none;text-decoration:none'> </span><span style='color:#323E4F;display:none;text-decoration:none'>2</span>
                </a>
            </span>
        </p>

        <p class=MsoToc2>
            <span class=MsoHyperlink>
                <a href="#_Toc482527754">
                    Android<span style='color:#323E4F;display:none;text-decoration:none'>.</span><span style='color:#323E4F;display:none;text-decoration:none'>2</span>
                </a>
            </span>
        </p>

        <p class=MsoToc2>
            <span class=MsoHyperlink>
                <a href="#_Toc482527755">
                    iPhone<span style='color:#323E4F;display:none;text-decoration:none'>.</span><span style='color:#323E4F;display:none;text-decoration:none'>3</span>
                </a>
            </span>
        </p>

        <p class=MsoToc1>
            <span class=MsoHyperlink>
                <a href="#_Toc482527756">
                    Funksjonsbeskrivelse<span style='color:#323E4F;display:none;text-decoration:none'>.</span><span style='color:#323E4F;display:none;text-decoration:none'>3</span>
                </a>
            </span>
        </p>

        <p class=MsoToc2>
            <span class=MsoHyperlink>
                <a href="#_Toc482527757">
                    Inn- og ut
                    stempling<span style='color:#323E4F;display:none;text-decoration:none'>. </span><span style='color:#323E4F;display:none;text-decoration:none'>3</span>
                </a>
            </span>
        </p>

        <p class=MsoToc2>
            <span class=MsoHyperlink>
                <a href="#_Toc482527758">
                    Ettersend<span style='color:#323E4F;display:none;text-decoration:none'>.</span><span style='color:#323E4F;display:none;text-decoration:none'>4</span>
                </a>
            </span>
        </p>

        <p class=MsoToc2>
            <span class=MsoHyperlink>
                <a href="#_Toc482527759">
                    Rediger<span style='color:#323E4F;display:none;text-decoration:none'></span><span style='color:#323E4F;display:none;text-decoration:none'>4</span>
                </a>
            </span>
        </p>

        <p class=MsoToc2>
            <span class=MsoHyperlink>
                <a href="#_Toc482527760">
                    Fravær<span style='color:#323E4F;display:none;text-decoration:none'></span><span style='color:#323E4F;display:none;text-decoration:none'>5</span>
                </a>
            </span>
        </p>

        <p class=MsoToc2>
            <span class=MsoHyperlink>
                <a href="#_Toc482527761">
                    Registrering
                    av småjobber<span style='color:#323E4F;display:none;text-decoration:none'> </span><span style='color:#323E4F;display:none;text-decoration:none'>5</span>
                </a>
            </span>
        </p>

        <p class=MsoToc2>
            <span class=MsoHyperlink>
                <a href="#_Toc482527762">
                    Registrering
                    av ettårsbefaring<span style='color:#323E4F;display:none;text-decoration:none'>. </span><span style='color:#323E4F;display:none;text-decoration:none'>6</span>
                </a>
            </span>
        </p>

        <p class=MsoToc2>
            <span class=MsoHyperlink>
                <a href="#_Toc482527763">
                    Registrering
                    av servicearbeid<span style='color:#323E4F;display:none;text-decoration:none'>. </span><span style='color:#323E4F;display:none;text-decoration:none'>7</span>
                </a>
            </span>
        </p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>
            <i>
                <span style='font-size:12.0pt;line-height:115%;
color:#44546A;letter-spacing:.25pt'>&nbsp;</span>
            </i>
        </p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoTitle>
            <span style='font-variant:normal !important;text-transform:
uppercase'>Timí</span>
        </p>

        <p class=MsoNormal>
            I denne applikasjonen er et forsøk på å digitalisere og
            effektivisere dagens timeregistreringssystem. Den inneholder funksjoner for å
            stemple inn og ut av arbeidsøkter. Ettersending av arbeidsøkter. Loggføring av
            fravær og dokumentering av prosjekt med bilder. Denne guiden vil gå gjennom det
            grunnleggende for hver funksjon, i tillegg til noen andre beskrivelser.
        </p>

        <p class=MsoNormal>&nbsp;</p>

        <h1><a name="_Toc482527753">Legg til Timí på enhet</a></h1>

        <p class=MsoNormal>
            Ved å legge til Timí som en webapplikasjon på enheten din,
            vi du alltid ha lett tilgang til Timí og timelisten din.
        </p>

        <p class=MsoNormal>&nbsp;</p>

        <h2><a name="_Toc482527754">Android</a></h2>

        <p class=MsoNormal>
            Følgende prosess er nesten lik for alle nettlesere til
            Android, men noen elementer kan være forskjellige fra nettleser til nettleser.
            De neste stegene vil gå gjennom hvordan man lagrer webapplikasjonen Timí på
            hjem-skrivebordet med Android’s standard nettleser.
        </p>

        <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'>
            1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Start
            nettleseren på enhet din og gå til<br>
            adressen vis i adressefeltet.
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            a.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Dette
            er en midlertidig adresse
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt'>
            Som vi vil bruke
            under testingen
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt'>av Timí.</p>

        <img src="~/images/guide/android1.PNG" class="image" />
        @*<img src="~/Content/images/guide/android1.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt'>&nbsp;</p>
        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Ved
            å trykke på meny knappen i høyre-
        </p>

        <p class=MsoListParagraphCxSpMiddle>hjørnet, kommer menyvalgene til</p>

        <p class=MsoListParagraphCxSpMiddle>nettleseren fram. Trykk så på </p>

        <p class=MsoListParagraphCxSpMiddle>«Save to bookmarks», eller</p>

        <p class=MsoListParagraphCxSpMiddle>«Lagre bokmerke». </p>
        <img src="~/images/guide/redi1.PNG" class="image" />
       @* <img src="~/Content/images/guide/android2.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>I
            dette vinduet kan man redigere navnet
        </p>

        <p class=MsoListParagraphCxSpMiddle>til Timí etter eget ønske. Det er viktig </p>

        <p class=MsoListParagraphCxSpMiddle>at adresse feltet ikke blir endret. Trykk</p>

        <p class=MsoListParagraphCxSpMiddle>«OK» for å lagre bokmerke og gå tilbake</p>

        <p class=MsoListParagraphCxSpMiddle>Til innloggingssiden til Timí.</p>
        <img src="~/images/guide/android3.PNG" class="image" />
        @*<img src="~/Content/images/guide/android3.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Ved
            å trykke på meny knappen i høyre-
        </p>

        <p class=MsoListParagraphCxSpMiddle>hjørnet, kommer menyvalgene til</p>

        <p class=MsoListParagraphCxSpMiddle>nettleseren fram. Trykk så på «bookmarks», </p>

        <p class=MsoListParagraphCxSpMiddle>eller «bokmerke» å gå til</p>

        <p class=MsoListParagraphCxSpMiddle>bokmerkene.</p>
        <img src="~/images/guide/android4.PNG" class="image" />
       @* <img src="~/Content/images/guide/android4.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Oversikten
            over bokmerkene viser
        </p>

        <p class=MsoListParagraphCxSpMiddle>
            Timí oppe i venstre hjørnet. Ved å trykke<br>
            og holde inne på bokmerket vil en ekstra
        </p>

        <p class=MsoListParagraphCxSpMiddle>meny for bokmerket poppe opp.</p>
        <img src="~/images/guide/android5.PNG" class="image" />
       @* <img src="~/Content/images/guide/android5.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>I
            denne ekstra menyen for bokmerket
        </p>

        <p class=MsoListParagraphCxSpMiddle>
            er det mulig å legge til Timí til
            telefonen.
        </p>

        <p class=MsoListParagraphCxSpMiddle>Trykk på «Add shourtcut to home», eller</p>

        <p class=MsoListParagraphCxSpMiddle>«Legg bokmerke til Hjem-skjerm» for å</p>

        <p class=MsoListParagraphCxSpMiddle>gjøre dette.</p>
        <img src="~/images/guide/android6.PNG" class="image" />
        @*<img src="~/Content/images/guide/android6.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Som
            vist i bilde vil det legge seg et
        </p>

        <p class=MsoListParagraphCxSpMiddle>ikon på hjem-skjermen til enheten. Dette</p>

        <p class=MsoListParagraphCxSpMiddle>ikonet vil nå fungere som en snarvei for å </p>

        <p class=MsoListParagraphCxSpMiddle>webapplikasjonen Timí. </p>
        <img src="~/images/guide/android7.PNG" class="image" />
        @*<img src="~/Content/images/guide/android7.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpLast>&nbsp;</p>

        <h2><a name="_Toc482527755">iPhone</a></h2>

        <p class=MsoNormal>
            Følgende prosess er nesten lik for alle nettlesere til
            iPhone, men noen elementer kan være forskjellige fra nettleser til nettleser.
            De neste stegene vil gå gjennom hvordan man lagrer webapplikasjonen Timí på
            hjem-skrivebordet med iPhone’s standard nettleser Safari.
        </p>

        <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'>
            1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Start
            nettleseren på enhet din og gå til<br>
            adressen vis i adressefeltet. Trykk så på<br>
            knappen nederst i nettleseren. Dette vil
        </p>

        <p class=MsoListParagraphCxSpMiddle>Bringe fram menyen til nettleseren</p>
        <img src="~/images/guide/apple1.PNG" class="image" />
       @* <img src="~/Content/images/guide/apple1.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>I
            menyen trykk på «Legg til på Hjem-skjerm»
        </p>
        <img src="~/images/guide/apple2.PNG" class="image" />
        @*<img src="~/Content/images/guide/apple2.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Her
            kan man endre visningsnavn til
        </p>

        <p class=MsoListParagraphCxSpMiddle>applikasjonen. Trykk «Legg til» når evt.</p>

        <p class=MsoListParagraphCxSpMiddle>Endinger er gjort.</p>
        <img src="~/images/guide/apple3.PNG" class="image" />
       @* <img src="~/Content/images/guide/apple3.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpLast style='text-indent:-18.0pt'>
            4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Timí
            er nå lagt til hjem-skjerm som vist i bildet
        </p>
        <img src="~/images/guide/apple4.PNG" class="image" />
        @*<img src="~/Content/images/guide/apple4.PNG" class="image" />*@
        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>
        <h1><a name="_Toc482527756">Funksjonsbeskrivelse</a> </h1>

        <p class=MsoNormal>
            Denne delen av guiden inneholder en generell beskrivelse av
            funksjonene i Timí tilgjengelig for tømrerne.
        </p>

        <h2><a name="_Toc482527757">Inn- og ut stempling</a></h2>

        <p class=MsoNormal>
            Denne funksjonen tar seg av den daglige noteringen av timer
            og arbeid utført av tømrer i løpet av dagen. Se under for gjennomgang.
        </p>

        <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'>
            1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Hovedmeny.
            Trykk «Stemple inn». En <br>
            bekreftelse modul vil poppe opp og gi bruker<br>
            valget mellom å forsete med innstempling «Ja»<br>
            eller gå tilbake til meny «Nei».
        </p>
        <img src="~/images/guide/chk1.PNG" class="image" />
        @*<img src="~/Content/images/guide/chk1.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Innstempling.
            Arbeidsøkten er nå startet.<br>
            Dette vises med at klokken i toppen av <br>
            siden starter å telle oppover. Bruker får så <br>
            to valg: Prosjektarbeid eller Timearbeid.<br>
            Disse blir valgt separert ut i fra hva arbeid<br>
            som skal utføres. Bruker kan velge å holde <br>
            seg på denne siden til økten er over, eller <br>
            velge en arbeidstype for å komme til neste side.
        </p>
        <img src="~/images/guide/chk2.PNG" class="image" />
        @*<img src="~/Content/images/guide/chk2.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Utstempling.
            Etter at arbeidstype har blitt<br>
            valgt blir bruker send til den designerte siden<br>
            for valgte type. Arbeidsøkten pågår fortsatt,<br>
            men på denne siden får bruker muligheten <br>
            til å fylle inn resterende informasjon og <br>
            avslutte økten med å stemple ut.
        </p>
        <img src="~/images/guide/chk3.PNG" class="image" />
        @*<img src="~/Content/images/guide/chk3.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Bekreftelse.
            Denne siden viser informasjon av
        </p>

        <p class=MsoListParagraphCxSpMiddle>
            arbeidsøkten til den grad at det er mulig
            for
        </p>

        <p class=MsoListParagraphCxSpMiddle>bruker å vite om informasjonen stemmer </p>

        <p class=MsoListParagraphCxSpLast>eller ikke.</p>
        <img src="~/images/guide/chk4.PNG" class="image" />
        @*<img src="~/Content/images/guide/chk4.PNG" class="image" />*@
        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>
        <h2><a name="_Toc482527758">Ettersend</a></h2>

        <p class=MsoNormal>
            Ettersend er en alternativ løsning for inn- og ut
            stemplingsfunksjonen. Om det av div. grunner ikke er mulig så stemple inn
            f.eks. Ved mangel på internett, kan Ettersend bli brukt.
        </p>

        <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'>
            1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Hovedmeny.
            Trykk «Ettersend». Dette
        </p>

        <p class=MsoListParagraphCxSpMiddle>vil ta bruker til valget av arbeid som skal</p>

        <p class=MsoListParagraphCxSpMiddle>ettersendes.</p>
        <img src="~/images/guide/after1.PNG" class="image" />
        @*<img src="~/Content/images/guide/after1.PNG" class="image" />*@
        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>


        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Arbeid.
            Velg arbeid som skal utføres ved hjelp
        </p>

        <p class=MsoListParagraphCxSpMiddle>av knappene. </p>
        <img src="~/images/guide/after2.PNG" class="image" />
        @*<img src="~/Content/images/guide/after2.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Arbeidsøkt.
            Et mer tradisjonelt skjema over
        </p>

        <p class=MsoListParagraphCxSpMiddle>arbeidet som er gjort. Når all informasjon</p>

        <p class=MsoListParagraphCxSpMiddle>for arbeidsøkten er fylt inn, kan bruker </p>

        <p class=MsoListParagraphCxSpMiddle>trykke «Send inn». Dette vil sende inn </p>

        <p class=MsoListParagraphCxSpMiddle>informasjonen og sende bruker tilbake </p>

        <p class=MsoListParagraphCxSpLast>til hovedmenyen.</p>
        <img src="~/images/guide/after1.PNG" class="image" />
        @*<img src="~/Content/images/guide/after1.PNG" class="image" />*@
        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <h2><a name="_Toc482527759">Rediger</a></h2>

        <p class=MsoNormal>
            Rediger siden gir bruker oversikt over arbeidet som er
            utført. Her kan også bruker endre, slette og se nærmere på arbeidsøktene etter
            behov.
        </p>

        <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Meny. Ved å trykke på knappen med tre linjer,
        </p>

        <p class=MsoListParagraphCxSpMiddle>
            får bruker tilgang til flere alternativer.
            Et av
        </p>

        <p class=MsoListParagraphCxSpMiddle>
            disse er «Rediger arbeid». Dette valget tar
        </p>

        <p class=MsoListParagraphCxSpMiddle>bruker til en liste over utførtarbeid.</p>
        <img src="~/images/guide/redi1.PNG" class="image" />
        @*<img src="~/Content/images/guide/redi1.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpLast style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Rediger. En liste over utførtarbeid av bruker. Detaljene kan
            endres, slettes og ses nærmere på. For å komme tilbake til hovedmenyen kan
            bruker trykke på «Timí» logoen i venstre hjørnet eller bruke menyknappen så
            «Meny».
        </p>
        <img src="~/images/guide/redi2.PNG" class="image" />
        @*<img src="~/Content/images/guide/redi2.PNG" class="image" />*@
        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <h2><a name="_Toc482527760">Fravær</a></h2>

        <p class=MsoNormal>
            Fravær funksjonen gir brukerne muligheten til å loggføre
            fravær.
        </p>

        <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'>
            1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Hovedmeny.
            Trykk «Fravær». Dette
        </p>

        <p class=MsoListParagraphCxSpMiddle>vil ta bruker til valget av fravær som skal</p>

        <p class=MsoListParagraphCxSpMiddle>loggføres.</p>
        <img src="~/images/guide/fra1.PNG" class="image" />
        @*<img src="~/Content/images/guide/fra1.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Grunn.
            Bruker velger fraværet som skal
        </p>

        <p class=MsoListParagraphCxSpMiddle>loggføres ved hjelp av rullegardinlisten. </p>

        <p class=MsoListParagraphCxSpMiddle>Når valget er tatt blir bruker sendt til </p>

        <p class=MsoListParagraphCxSpMiddle>Tilhørende skjema.</p>
        <img src="~/images/guide/fra2.PNG" class="image" />
        @*<img src="~/Content/images/guide/fra2.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Fravær.
            Bruker fyller ut skjemat og trykker
        </p>

        <p class=MsoListParagraphCxSpMiddle>Deretter «Send inn» for å sende inn og gå </p>

        <p class=MsoListParagraphCxSpLast>Tilbake til hovedmeny.</p>
        <img src="~/images/guide/fra3.PNG" class="image" />
        @*<img src="~/Content/images/guide/fra3.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <h2><a name="_Toc482527761">Registrering av småjobber</a></h2>

        <p class=MsoNormal>
            Småjobb er arbeid som ikke hører til et prosjekt, men som
            blir utført for en kunde etter forespørsel. Arbeidet skal også bli fakturer til
            den kunden arbeidet blir utført for.
        </p>

        <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Meny. Arbeid utført under kategorien småjobb, <br>
            kan bli gjennomført ved å bruke «Stemple inn»<br>
            eller «Ettersend».
        </p>
        <img src="~/images/guide/sm1.PNG" class="image" />
        @*<img src="~/Content/images/guide/sm1.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Ettersend. Når småjobb skal bli<br>
            registrert ved å bruke «Ettersend», skal <br>
            arbeidstype «Timearbeid» velges.
        </p>
        <img src="~/images/guide/sm2.PNG" class="image" />
        @*<img src="~/Content/images/guide/sm2.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Registrering av småjobb med<br>
            Ettersend blir gjort på følge måte:
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                a.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Prosjekt – Småjobb har en egen <br>
            prosjekt id som skal brukes. Den er<br>
            1 som vist i bildet.
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                b.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Kunde – I dette feltet blir kunde valgt,<br>
            om kunde ikke er i database velges<br>
            «Ny kunde – Definer i tekstfelt».
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                c.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Arbeid utført – Her blir arbeidet <br>
            beskrevet. Om kunde ikke lå i data-<br>
            basen defineres også kunden i dette<br>
            feltet.
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                d.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Resten av feltene blir utfylt som vanlig.
        </p>
        <img src="~/images/guide/sm3.PNG" class="image" />
       @* <img src="~/Content/images/guide/sm3.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt'>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Stemple inn. Når småjobb skal bli<br>
            registrert ved å bruke «Stemple inn», skal <br>
            arbeidstype «Timearbeid» velges.
        </p>
        <img src="~/images/guide/sm4.PNG" class="image" />
       @* <img src="~/Content/images/guide/sm4.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Utfylling. Utfyllingen av småjobb med <br>
            Stemple inn blir gjort på følgende måte:
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                a.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Prosjekt – Småjobb har en egen <br>
            prosjekt id som skal brukes. Den er<br>
            1 som vist i bildet.
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                b.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Kunde – I dette feltet blir kunde valgt,<br>
            om kunde ikke er i database velges<br>
            «Ny kunde – Definer i tekstfelt».
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                c.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Arbeid utført – Her blir arbeidet <br>
            beskrevet. Om kunde ikke lå i data-<br>
            basen defineres også kunden i dette<br>
            feltet.
        </p>

        <p class=MsoListParagraphCxSpLast style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                d.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Ut stempling. Etter at arbeidsøkten <br>
            er over stemples det ut på vanlig måte.
        </p>
        <img src="~/images/guide/sm5.PNG" class="image" />
        @*<img src="~/Content/images/guide/sm5.PNG" class="image" />*@
        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <h2><a name="_Toc482527762">Registrering av ettårsbefaring</a></h2>

        <p class=MsoNormal>
            Er en gjennomgang av en bolig kjøpt etter bestemmelsene i
            bustadoppføringslova. En representant fra bedrift og kjøper møtes for å gå
            gjennom boligen og avklare om det har oppstått feil det første året.
        </p>

        <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Meny. Registrering av ettårsbefaring kan
        </p>

        <p class=MsoListParagraphCxSpMiddle>bli gjort gjennom «Stemple inn» eller </p>

        <p class=MsoListParagraphCxSpMiddle>«Ettersend».</p>
        <img src="~/images/guide/be1.PNG" class="image" />
        @*<img src="~/Content/images/guide/be1.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Ettersend. Når ettårsbefaring skal <br>
            bli registrert ved å bruke «Ettersend», skal <br>
            arbeidstype «Prosjektarbeid» velges.
        </p>
        <img src="~/images/guide/be2.PNG" class="image" />
        @*<img src="~/Content/images/guide/be2.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Registrering. Registrering av ettårsbefaring<br>
            med Ettersend blir gjort på følge måte:
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                a.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Prosjekt – Prosjektet som skal befares<br>
            velges.
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                b.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Arbeidsområde – Arbeidsområdet <br>
            «Annet» velges.
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                c.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Kommentarfelt– Her blir økten definert<br>
            som en ettårsbefaring sammen med<br>
            Evt. Annen viktig informasjon
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                d.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Resten av feltene blir utfylt som vanlig.
        </p>
        <img src="~/images/guide/be3.PNG" class="image" />
        @*<img src="~/Content/images/guide/be3.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt'>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Stemple inn. Når ettårsbefaring<br>
            skal bli registrert ved å bruke «Stemple inn», <br>
            skal arbeidstype «Prosjektarbeid» velges.
        </p>
        <img src="~/images/guide/be4.PNG" class="image" />
        @*<img src="~/Content/images/guide/be4.PNG" class="image" />*@

        <p class=MsoListParagraphCxSpMiddle> </p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Utfylling. Utfyllingen av småjobb med <br>
            Stemple inn blir gjort på følgende måte:
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                a.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Prosjekt – Prosjektet som skal befares<br>
            velges.
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                b.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Arbeidsområde – Arbeidsområdet <br>
            «Annet» velges.
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                c.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Kommentarfelt– Her blir økten definert<br>
            som en ettårsbefaring sammen med<br>
            Evt. Annen viktig informasjon
        </p>

        <p class=MsoListParagraphCxSpLast style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                d.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Ut stempling. Etter at arbeidsøkten <br>
            er over stemples det ut på vanlig måte.
        </p>
        <img src="~/images/guide/be5.PNG" class="image" />
        @*<img src="~/Content/images/guide/be5.PNG" class="image" />*@
        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <h2><a name="_Toc482527763">Registrering av servicearbeid</a></h2>

        <p class=MsoNormal>
            Servicearbeid er arbeid som skal faktureres til den som er
            skyld i servicen. Dette kan være en leverandør eller den som utførte arbeidet.
        </p>

        <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Stemple inn. Ut ifra hvem som skal faktureres <br>
            og hva arbeid som er utført kan både <br>
            «Prosjektarbeid» og «Timesarbeid» bli valgt for <br>
            å registrere et servicearbeid.
        </p>
        <img src="~/images/guide/sv1.PNG" class="image" />
        @*<img src="~/Content/images/guide/sv1.PNG" class="image" />*@
        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>


        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Registrering gjennom Prosjektarbeid utføres<br>
            på følgende måte:
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                a.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Prosjekt – Prosjektet service blir utført<br>
            på.
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                b.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Arbeidsområde – Arbeidsområdet <br>
            «Annet» velges.
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                c.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Kommentarfelt – Her blir økten definert<br>
            som et servicearbeid sammen med<br>
            Evt. Annen viktig informasjon
        </p>
        <img src="~/images/guide/sv2.PNG" class="image" />
        @*<img src="~/Content/images/guide/sv2.PNG" class="image" />*@


        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>
            <span style='font-family:Symbol'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Registrering gjennom Timearbeid utføres<br>
            på følgende måte:
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                a.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Prosjekt – Prosjektet service blir utført<br>
            på.
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                b.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Kunde – De som skal faktureres <br>
            for arbeidet som er utført.
        </p>

        <p class=MsoListParagraphCxSpMiddle style='margin-left:72.0pt;text-indent:-18.0pt'>
            <span style='color:red'>
                c.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>Arbeid utført – Beskrivelse av hva<br>
            som er gjort og andre viktige detaljer.
        </p>
        <img src="~/images/guide/sv3.PNG" class="image" />
        @*<img src="~/Content/images/guide/sv3.PNG" class="image" />*@
        <p class=MsoListParagraphCxSpMiddle>&nbsp;</p>

        <p class=MsoListParagraphCxSpLast style='margin-left:72.0pt'> </p>

    </div>

</body>

</html>


