
@{
    ViewData["Title"] = "Ettersend";
}

<div class="text-center">
    <h3>Ettersend arbeidsøkter</h3>
</div>

<div class="Btn-layout">

    <p><a class="btn btn-primary btn-block" asp-controller="AfterSend" asp-action="ProjectWork">Prosjektarbeid</a></p>
</div>
<div class="Btn-layout">
    <p><a class="btn btn-primary btn-block" asp-controller="AfterSend" asp-action="HourWork">Timearbeid</a></p>
</div>